# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: kde-la-c <kde-la-c@student.42madrid>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/07/09 12:43:46 by kde-la-c          #+#    #+#              #
#    Updated: 2023/07/09 12:44:23 by kde-la-c         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

a.out
*.dSYM
.DS_Store
*.o
*.a
dbg*

so_long
*.ber
